/*index.html CSS*/

body {
    text-align: center;
}

form {
    padding-right: 40px;
    padding-left: 40px;
}

div.container-fluid {
    padding: 0;
}

#cardapio_home {
    margin-top: 50px;
}

/*menu.html CSS*/

.titulo_cardapio, .titulo_tipo_refeicao {
    margin-top: 50px;
}

.row {
    justify-content: center;
}

.col-xs-4 {
    padding: 50px;
}

.menu_type {
    width: max-content;
    height: 900px;
    margin: auto;
}

.menu_item {
    height: 464px;
    object-fit: cover;
  }

.container-info-menu {
    width: 228px;
    height: 356px;
}

.description_meal {
    height: 180px;
    font-family: Bodoni Moda;
    font-size: 16px;
    font-weight: 400;
}

.title_meal {
    height: 53px;
    margin-bottom: 20px;
    font-family: Brittanic Bold;
    font-weight: 400;
}

.price_meal {
    font-size: 24px;
    font-family: Bodoni Moda;

}

.button_select {
    color: white;
    background-color: #ab4915;
    height: 31px;
    width: 172px;
    text-align: center;
    display: flex;
}

.text_select {
    margin: auto;
    font-family: Britannic Bold;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.btn_style {
    width: 15%;
    text-align: center;
}

/* Hide Radio */
[type=radio] { 
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* Image Styles */
  [type=radio] + div {
    cursor: pointer;
  }
  
  /* Hover and Checked Style */
  [type=radio]:hover + div, [type=radio]:checked + div {
    outline: 3px solid black;
  }

  /*response.html CSS*/

  .return_to_home {
    margin-bottom: 40px;
  }

