/*constantes*/
:root {
    --light-orange: #ebb230;
    --light-brown: #AB4914;
    --light-grey: #dad8d8;
}

/*index.html*/

body {
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
}

div.container-fluid {
    padding: 0;
}

#cardapio_home {
    margin-top: 50px;
}

/*header*/

header {
    position: fixed;
    width: 100%;
    z-index: 1;
}

#container-menu,header ul{
    background-color: var(--light-brown);
    height:110px;
    border-bottom: 3px solid white;
    font-size: 16.258px;
}

header li {
    list-style-type: none;
    float: left;
    padding-right: 20px;
}

header li a {
    padding-bottom: 8px;
    display: block;
}

.border-left {
    border-bottom: 2px solid white;
    margin-right: 50%;
}

a.logo{
    background-image: url(assets/img/index-img/logo.png);
    width: 64px;
    height: 105px;
}

header li a:hover {
    color: var(--light-orange);
    text-decoration: none;
}

a.header-menu-cart{
    background-image:url(assets/img/index-img/vector.png);
    float:right;
    margin:35px;
    height:33px;
    width:33px;
}

a.header-home {
    background-image:url(assets/img/others/home.svg);
    float:right;
    margin:35px;
    height:33px;
    width:40px;
}

li.header-menu {
    margin-top:35px;
}

li.header-menu a {
    color:white;
    font-weight:bold;
}

/*header end*/

/*main-index*/

main{
    background-image: url("https://images.unsplash.com/photo-1541140134513-85a161dc4a00?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1740&q=80");
    padding-top: 110px;
    padding-bottom: 1%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: var(--light-grey);
    background-blend-mode: multiply;
    background-attachment: fixed;
}

/*banner*/

div.img-villa-eleganza-main{
   background-color: var(--light-brown);
}

div.container-menu-flex img{
    width:300px;
}

/*menu cardápio*/

.container-menu {
    background-image: url("assets/img/index-img/yellow-splash.png");
    padding-top: 4%;
    padding-bottom: 4%;
    background-position: center;
    background-size: 500px;
    background-repeat: no-repeat;
}

a.menu-link{
    font-family: Britannic Bold;
    font-size:48px;
    color:black;
    padding-bottom: 1.5%;
    border-bottom: 3px solid white;
}

a.menu-link:hover {
    text-decoration: none;
    color: #AB4914;
}

div#container-menu-flex{
    display: flex;
    justify-content: space-around;
    padding-right: 30%;
    padding-left: 30%;
}

/*pratos*/

a.appetizer-img{
    background-image: url(assets/img/appetizers/onion.png);
    margin-right: 40px;
}

a.main-img{
    background-image: url(assets/img/main_courses/ribs.png);
    margin-right: 40px;
}

a.dessert-img{
    background-image: url(assets/img/desserts/brownie.png);
}

a.appetizer-img,a.main-img,a.dessert-img{
    background-size:400px;
    display: block;
    background-size: cover;
    background-position: center;
    width: 28em;
    height:37em;
}

p.appetizer-text,p.main-text,p.dessert-text{
    background-color: white;
    height:100px;
    font-size:35px;
    color:#AB4914 ;
    font-family:'Brush Script MT', cursive;
    padding-top:25px;
}

p.appetizer-text, p.main-text {
    margin-right: 40px;
}

div#container-aboutUs{
    width:60%;
    margin:10% auto;
}

/*quem somos*/

div#container-aboutUs h1{
    font-family: Britannic Bold;
    color:black;
    text-align: left;
    font-size: 64px;
    padding-bottom: 1.5%;
}

div#container-aboutUs p {
    color:black;
    width:41%;
    font-size: 20px;
    text-align: left;

}

div#container-aboutUs img {
    height: 600px;
    float: right;
    
}

/*footer-index*/

footer#container-information-footer{
    background-color: var(--light-brown);
    height: 300px;
    display: flex;
    justify-content: space-around;
    color:white;
}

footer#container-information-footer #footer-info{
    width:10%;
    padding-top:5%;
    text-align: left;
}

footer#container-information-footer #villa-logo{
    padding-top:3%;
}

footer#container-information-footer #footer-links{
    padding-top:5%;
}

footer#container-information-footer .footer-link-insta{
    background-image: url(assets/img/index-img/insta.png);
    height:29px;
    width:26px;
    display: block;
}
footer#container-information-footer .footer-link-face{
    background-image: url(assets/img/index-img/face.png);
    height:25px;
    width:12px;
    display: block;
}
footer#container-information-footer .footer-link-tt{
    background-image: url(assets/img/index-img/tt.png);
    height:25px;
    width:25px;
    display: block;
}


/*----------------------------------------------------------*/

/*menu.html CSS*/

.titulo_cardapio, .titulo_tipo_refeicao {
    font-family: Britannic Bold;
    margin-top: 20px;
    font-size: 48px;
    color: black;
}

.border-menu-top {
    margin-top: 40px;
    border-top: 3px solid #AB4914;
    margin-right: 20%;
    margin-left: 20%;
}

.row {
    justify-content: center;
}

.col-xs-4 {
    padding: 50px;
}

.menu_type {
    width: max-content;
    height: 900px;
    margin: auto;
}

.border-menu {
    border-bottom: 3px solid var(--light-orange);
    margin-right: 40%;
    margin-left: 40%;
}

.menu_item {
    height: 350px;
    width: 228px;
    object-fit: cover;
  }

.container-info-menu {
    width: 228px;
    height: 356px;
}

.description_meal {
    font-family: Bodoni Moda;
    background-color: white;
    padding-top: 40px;
    height: 200px;
    font-size: 16px;
    font-weight: 400;
    padding-right: 20px;
    padding-left: 20px;
    margin: 0;
}

h3.title_meal {
    font-family: "Brittanic Bold";
    background-color: white;
    margin: 0 auto;
    padding-top: 20px;
    font-weight: 800;
    font-size: 20px;
    height: 64px;
}

.price_meal {
    font-family: Bodoni Moda;
    background-color: white;
    margin: 0;
    padding-top: 25px;
    font-size: 24px;
}

.button_select {
    font-family: Britannic Bold;
    background-color: var(--light-brown);
    color: white;
    width: 172px;
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 20px;
}

div.choice {
    background-color: white;
}

.button_select:hover {
    outline: 3px solid black;
    color: white;
}

input#submit {
    width: 200px;
}

.btn_style {
    width: 15%;
    text-align: center;
}

/* Hide Radio */
[type=radio] { 
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* Image Styles */
  [type=radio] + div {
    cursor: pointer;
  }
  
  /* Hover and Checked Style */
  [type=radio]:hover + div, [type=radio]:checked + div {
    outline: 3px solid black;
  }

 /*----------------------------------------------------------*/

  /*response.html*/

  .return_to_home {
    margin-bottom: 40px;
  }

  .social-media-item {
    list-style-type: none;
  }

  .social-media-list li {
    display: inline-block;
    padding-right: 10px;
  }

  .social-media-list {
    padding-left: 20px;
  }

  .response_items {
    font-family: Britannic Bold;
    color: black;
    font-size: 48px;
  }

  .response_img {
    width: 400px;
    height: 300px;
    object-fit:cover;
  }

.splash-response {
    background-image: url("assets/img/index-img/yellow-splash.png");
    padding-top: 4%;
    padding-bottom: 4%;
    background-position: center;
    background-size: 500px;
}

#return_to_home_from_response {
    width: 350px;
    margin-bottom: 0;
}

.main_response {
    padding-bottom: 0;
}

.response_menu_item {
    height: 300px;
    width: 350px;
    object-fit: cover;
    object-position: center;
}
